<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jidi.standard.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.jidi.standard.entity.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_type" jdbcType="INTEGER" property="departmentType" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
</mapper>